<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-scan" version="1.8.0">
  <name>Cordova Scan Plugin</name>
  <description>Cordova interface to Scan draughts engine.</description>
  <author>Sébastien Renault</author>
  <keywords>cordova,scan</keywords>
  <license>MIT</license>

  <js-module src="www/CordovaPluginScan.js" name="CordovaPluginScan">
    <clobbers target="Scan" />
  </js-module>

  <platform name="android">
    <framework src="build-extras-scan.gradle" custom="true" type="gradleReference" />

    <source-file src="src/android/org.lidraughts.scan/CordovaPluginScan.java" target-dir="src/org/lidraughts/scan" />
    <source-file src="src/android/jni" target-dir="app/src/main" />
    <source-file src="src/share/threadbuf.h" target-dir="app/src/main/jni/scanjni" />
    <source-file src="src/share/scan/src" target-dir="app/src/main/jni/scan" />

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="CordovaPluginScan">
        <param name="android-package" value="org.lidraughts.scan.CordovaPluginScan" />
      </feature>
    </config-file>
  </platform>

  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="CordovaPluginScan">
        <param name="ios-package" value="CordovaPluginScan" />
      </feature>
    </config-file>

    <header-file src="src/ios/CordovaPluginScan.h" />
    <source-file src="src/ios/CordovaPluginScan.mm" />
    <header-file src="src/ios/CordovaPluginScanc.h" />
    <header-file src="src/ios/CordovaPluginScanios.h" />
    <header-file src="src/share/threadbuf.h" />

    <header-file src="src/share/scan/src/bb_base.hpp" target-dir="./scan" />
    <header-file src="src/share/scan/src/bb_comp.hpp" target-dir="./scan" />
    <header-file src="src/share/scan/src/bb_index.hpp" target-dir="./scan"/>
    <header-file src="src/share/scan/src/bit.hpp" target-dir="./scan" />
    <header-file src="src/share/scan/src/book.hpp" target-dir="./scan" />
    <header-file src="src/share/scan/src/common.hpp" target-dir="./scan" />
    <header-file src="src/share/scan/src/eval.hpp" target-dir="./scan" />
    <header-file src="src/share/scan/src/fen.hpp" target-dir="./scan" />
    <header-file src="src/share/scan/src/game.hpp" target-dir="./scan" />
    <header-file src="src/share/scan/src/gen.hpp" target-dir="./scan"/>
    <header-file src="src/share/scan/src/hash.hpp" target-dir="./scan" />
    <header-file src="src/share/scan/src/hub.hpp" target-dir="./scan" />
    <header-file src="src/share/scan/src/libmy.hpp" target-dir="./scan" />
    <header-file src="src/share/scan/src/list.hpp" target-dir="./scan" />
    <header-file src="src/share/scan/src/main.hpp" target-dir="./scan" />
    <header-file src="src/share/scan/src/move.hpp" target-dir="./scan" />
    <header-file src="src/share/scan/src/pos.hpp" target-dir="./scan" />
    <header-file src="src/share/scan/src/score.hpp" target-dir="./scan" />
    <header-file src="src/share/scan/src/search.hpp" target-dir="./scan" />
    <header-file src="src/share/scan/src/sort.hpp" target-dir="./scan" />
    <header-file src="src/share/scan/src/thread.hpp" target-dir="./scan" />
    <header-file src="src/share/scan/src/tt.hpp" target-dir="./scan" />
    <header-file src="src/share/scan/src/util.hpp" target-dir="./scan" />
    <header-file src="src/share/scan/src/var.hpp" target-dir="./scan" />

    <source-file src="src/share/scan/src/bb_base.cpp" target-dir="./scan" />
    <source-file src="src/share/scan/src/bb_comp.cpp" target-dir="./scan" />
    <source-file src="src/share/scan/src/bb_index.cpp" target-dir="./scan"/>
    <source-file src="src/share/scan/src/bit.cpp" target-dir="./scan" />
    <source-file src="src/share/scan/src/book.cpp" target-dir="./scan" />
    <source-file src="src/share/scan/src/common.cpp" target-dir="./scan" />
    <source-file src="src/share/scan/src/eval.cpp" target-dir="./scan" />
    <source-file src="src/share/scan/src/fen.cpp" target-dir="./scan" />
    <source-file src="src/share/scan/src/game.cpp" target-dir="./scan" />
    <source-file src="src/share/scan/src/gen.cpp" target-dir="./scan"/>
    <source-file src="src/share/scan/src/hash.cpp" target-dir="./scan" />
    <source-file src="src/share/scan/src/hub.cpp" target-dir="./scan" />
    <source-file src="src/share/scan/src/libmy.cpp" target-dir="./scan" />
    <source-file src="src/share/scan/src/list.cpp" target-dir="./scan" />
    <source-file src="src/share/scan/src/main.cpp" target-dir="./scan" />
    <source-file src="src/share/scan/src/move.cpp" target-dir="./scan" />
    <source-file src="src/share/scan/src/pos.cpp" target-dir="./scan" />
    <source-file src="src/share/scan/src/score.cpp" target-dir="./scan" />
    <source-file src="src/share/scan/src/search.cpp" target-dir="./scan" />
    <source-file src="src/share/scan/src/sort.cpp" target-dir="./scan" />
    <source-file src="src/share/scan/src/thread.cpp" target-dir="./scan" />
    <source-file src="src/share/scan/src/tt.cpp" target-dir="./scan" />
    <source-file src="src/share/scan/src/util.cpp" target-dir="./scan" />
    <source-file src="src/share/scan/src/var.cpp" target-dir="./scan" />

  </platform>
</plugin>
